/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content {
  max-width: 600px;
  margin: 20px auto;
  .monolith {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .push{
      justify-content: end;
    }
    .lefty {
      align-self: flex-end;
    }
    .right {
      align-self: flex-start;
    }
  }
}